.productCard{
  display: flex;
  flex-flow: column nowrap;

  flex: 0 1 180px;
  margin: 20px;
}

.imgContainer {
  height: 260px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionContainer{
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: left;

}

.descriptionContainer p{
  padding: 0;
  margin: 0;
}

.descriptionContainer .description{
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.descriptionContainer span{
  font-weight: bold;
}

.priceContainer{
  text-align: left;
}

.priceContainer p{
  margin: 10px 0;
  padding: 0;
}

.salePrice{
  font-size: 1.6rem;
}

.msrpPrice {
  text-decoration: line-through;
  font-size: 1.6rem;
}

.onSale{
  font-weight: bold;
  font-size: 2rem;
}

.ratingContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.ratingContainer img{
  max-width: 100px;
}

.ratingContainer p{
  display: inline-block;
  font-size: 1.2rem;
}
